* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@font-face {
  font-family: norse-bold;
  src: url("./assets/Norse-Bold.otf");
}


:root {
  font-size: 10px;
}

:root {
  --fz-large: 1.92rem;
  --ff-main: 'Source Sans Pro', sans-serif;
  --pd-main: 40px;
  --clr-accent: #245f0b;
  --clr-accent-dark: #133106;
  --clr-error: rgb(206, 31, 31);
  --fz-logo: 9.6rem;
  --h-logo: calc(var(--fz-logo) * 1.2);
  --height-top-main: 300px;
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-main);
}

.container {
  height: 100vh;

  display: flex;
}

.side {
  background-image: url(./assets/background.jpeg);
  background-repeat:no-repeat;
  background-size: cover;
  width: 700px;
  color: white;

  flex-grow: 0;
  display: flex;
  flex-direction: column;
}

.logo {
  --pd: 5px;


  margin-top: calc(var(--height-top-main) - var(--h-logo) - var(--pd) * 2);
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 9.6rem;
  font-family:  norse-bold, sans-serif;

  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo-img {
  height: var(--h-logo)
}

.credit {
  margin-top: auto;
  margin-bottom: 1em;
  font-size: 1.4rem;
  text-align: center;
  opacity: .9;

}

.credit > a {
  text-decoration: underline;
  color: inherit;
}

/* Main */
.main {
  min-width: 500px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ctn__main  {
  padding: 0px var(--pd-main);
}

.top__main {
  height: var(--height-top-main);
  background-color: #f2fff2;
  padding-bottom: 3em;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.info {
  font-size: 2.4rem;
  font-weight: 700;
  max-width: 700px;
}

.info > p + p {
  margin-top: 1em;
}

.mid__main {
  padding-top: 2em;
  padding-bottom: 3em;
}


.form {
  max-width: 700px;
  display: flex;
  gap: 1.2em 5em;
  flex-wrap: wrap;
  margin-top: 1.5em;
}


.form label {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}



.form input {
  padding: 5px;
  width: 250px;
  margin-top: 2px;

  border: 1px solid rgba(73, 70, 70, 0.2);
  border-radius: 5px;
  background-color: rgba(245, 240, 240, 0.233);
  outline: none;
}

form .error {
  border-color: var(--clr-error);
}

form .error + p {
  color: var(--clr-error);
  font-size: 1.4rem;
}


form .focus {
  border-color: blue;
  box-shadow: 2px 2px 4px  #ccc;  
}


.bottom__main {
  flex: 1;
  background-color: #eee;
  padding: var(--pd-main) var(--pd-main);
}


.bottom__main {
  font-size: 1.9rem;
}

.btn {
  border: none;
  border-radius: 8px;
  background-color: var(--clr-accent);
  color: white;
  padding: 0.7em 2.7em;
  font-weight: 700;
}

.btn:hover {
  background-color: #184107;
}

.btn:active {
  background-color: #307d0f;
}

.login_text {
  margin-top: 36px;
}

.login_text > a {
  font-weight: 700;
  color: var(--clr-accent);
  text-decoration: none;
}

.login_text > a:hover {
  color: var(--clr-accent-dark)
}